apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-main-pvc
  namespace: bookstore
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: pv-mysql-main
