apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: bookstore
spec:
  type: NodePort
  selector:
    app: auth-service
  ports:
    - port: 5001
      targetPort: 5001
      nodePort: 30001
