apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: bookstore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: 637423500122.dkr.ecr.us-east-1.amazonaws.com/bookstore/auth_service:latest
          imagepullpolicy: Always
          ports:
            - containerPort: 5001
          env:
            - name: DATABASE_URI
              value: "mysql+pymysql://user:password@db-auth/bookstore_auth"
