apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: bookstore
spec:
  selector:
    app: rabbitmq
  type: NodePort
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: management
      port: 15672
      targetPort: 15672
      nodePort: 31672
